[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
cython = "*"
pyedflib = {editable = true, ref = "master", git = "https://github.com/holgern/pyedflib.git"}
mne = "*"
scipy = "*"
matplotlib = "*"
sklearn = "*"
wyrm = "*"

[dev-packages]

[requires]
python_version = "3.7"
